* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  background: rgba(0, 140, 255, 0.185);
  width: 600px;
  height: 600px;
  grid-template-columns: repeat(4 1fr);
  grid-template-rows: repeat(3 1fr);
  grid-gap: 10px;
}
div {
  min-width: 40px;
  min-height: 40px;
  border-radius: 5px;
}
.box1 {
  background-color: red;
  grid-column: 1 / span 2;
}
.box2 {
  grid-column: 3 / span 2;
  background-color: blue;
}
.box3 {
  background-color: green;
}
.box4 {
  grid-column: 2 / span 3;
  background-color: yellow;
}
.box5 {
  color: white;
  grid-column: 1 / span 4;
  background-color: black;
}
