* {
  box-sizing: border-box;
}
#main {
  max-width: 100%;
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 400px;
}
.box {
  width: 100px;
  height: 100px;
}
#first {
  background-color: red;
}
#second {
  background-color: blue;
}
#third {
  background-color: green;
}
