* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
div {
  border: 1px solid black;
  display: inline-block;
  max-width: 450px;
}
@media (max-width: 450px) {
  #first {
    display: block;
  }
}
@media (max-width: 900px) {
  #second {
    display: block;
  }
}
@media (max-width: 1350px) {
  #third {
    display: block;
  }
}
@media (max-width: 450px) {
  #forth {
    display: block;
  }
} ;
