* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
div {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
p {
  font-size: 20px;
  text-align: center;
  width: 35%;
  padding: 25px;
  line-height: 2rem;
}
span {
  color: blue;
  position: relative;
  padding: 25px 0px;
}
span:hover::before {
  content: attr(id);
  font-size: 15px;
  position: absolute;
  width: 100px;
  top: -15px;
  left: -60px;
  background-color: yellow;
  color: black;
  border-radius: 10px;
}
span:hover::after {
  content: "";
  position: absolute;
  right: 50%;
  top: 15px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 14px solid yellow;
}
