<<<<<<< HEAD
#info{
    background-color: burlywood;
    margin-top:-25px;
   
}
img{
    width: 300px;
}

#card{
    border: 3px black solid;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black,-3px 0px 3px black;
    margin-left: 200px;
    width: 300px;
=======
#info{
    background-color: burlywood;
    margin-top:-25px;
   
}
img{
    width: 300px;
}

#card{
    border: 3px black solid;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black,-3px 0px 3px black;
    margin-left: 200px;
    width: 300px;
>>>>>>> c8195399c61a42ba8e60bb6f969039fa7ae21fe5
}