*{
    box-sizing: border-box;
}
body{
    background-color:rgba(9, 45, 70, 0.178);
    color:rgb(29, 67, 82);
    margin: auto;
    max-width: fit-content;
}
p{
    font-style: oblique;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
#div-img{
    box-shadow: 5px 5px 5px rgba(34, 79, 97, 0.486);
    max-width: 300px;
    margin: 10px auto;
    
}
#profile-img{
    max-width: 300px;
}
#list-conect{
    border: rgb(29, 67, 82) 2px solid;
    width: 100px;
    background-color:rgb(29, 67, 82);
    border-radius: 3px;
    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.conect{
    border:1px solid black;
    border-radius: 4px;
    max-width: 170px;
    background-color: rgb(41, 97, 119);
    text-align: center;
    color: white;
    font-style: italic;
}
#fb-conect{
    float: left;
}
#github-conect{
    float:left;
    margin-left:220px;
}
#email-conect{
    float:right;
}
.navbut{
    padding:10px 15px 10px 0px;
    margin:none;
    background-color: rgb(29, 67, 82);
    color: white;
    border: none;
    font-style: italic;
}
.navbut:hover{
    background-color: rgb(54, 132, 163);
}
#navgudie{
    background-color: rgb(29, 67, 82);;
    border-radius: 10px;
    padding-left: 10px;
}
#first-card,#second-card{
    width:200px;
    border: 1px solid black;
}
#clear{
    clear: both;
}
#second-card{
    float: right;
    margin-right: 100px;
}
#first-card{
    float: left;
    margin-left: 100px;
}