* {
  box-sizing: border-box;
  margin: 1.5rem;
  padding: 0;
}
.head {
  text-align: center;
  margin-top: 3rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: lightgrey;
  border: 0.1px solid grey;
  width: fit-content;
  margin: auto;
}
input {
  padding: 1rem;
  border-radius: 3%;
}
button {
  padding: 1rem;
}
.card {
  width: 200px;
  height: 300px;
  border-radius: 5%;
  border: 1px solid black;
  display: inline-block;
  text-decoration: none;
  color: black;
}
.card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
img {
  width: 200px;
  height: 150px;
  size: 100% 100%;
  margin: 0;
  border-radius: 3%;
}
