* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#main {
  height: 150px;
  width: 200px;
  background-color: red;
}

#main::before {
  content: " ";
  background-color: blue;
  width: 100px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#main:hover::before {
  content: "";
  background-color: yellow;
}
