body{
    background-color:rgb(100, 198, 237);
    color:mediumblue;
    margin: auto;
    max-width: fit-content;
}
p{
    font-style: oblique;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
#div-img{
    box-shadow: 5px 5px 5px rgb(0, 47, 255);
    max-width: 300px;
    margin: 10px auto;
    
}
#profile-img{
    max-width: 300px;
}
#list-conect{
    border: rgb(0, 47, 255) 2px solid;
    width: 100px;
    background-color:seashell;
    border-radius: 3px;
    
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.conect{
    border:1px solid black;
    border-radius: 4px;
    max-width: 170px;
    background-color: rgb(132, 192, 241);
    text-align: center;
}
#fb-conect{
    float: left;
}
#github-conect{
    float:left;
    margin-left:220px;
}
#email-conect{
    float:right;
}
