.btn {
  display: inline-block;
  border-radius: 0px;
  padding: 20px 30px;
  border: 3px solid black;
  color: black;
  width: max-content;
  margin: 5px;
  overflow: hidden;
  background-color: white;
  position: relative;
  transition-property: all;
  transition-duration: 3s;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.btn:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "yeah!";
  position: absolute;
  width: 100%;
  height: 100%;
  transition-property: all;
  transition-duration: 1s;
}
#transY::after {
  background-color: red;
  top: -102%;
  left: 0;
}
#transY:hover::after {
  transform: translateY(56.55px);
}
#tran::after {
  content: "you the man!";
  color: white;
  background-color: black;
  left: -102%;
  top: 0;
}
#tran:hover:after {
  transform: translateX(91.5px);
}
#rotate::after {
  top: 0px;
  left: 0px;
  content: "wow!";
  background-color: yellow;
  transform: rotate(90deg);
  transform-origin: top left;
}
#rotate:hover:after {
  rotate: bottom;
  transform: rotate(0deg);
  transform-origin: top left;
}
#scale::after {
  content: "Scale&opacity";
  background-color: black;
  color: white;
  top: 0%;
  left: 0%;
  opacity: 0;
  transform: scale(2);
}
#scale:hover:after {
  opacity: 1;
  transform: scale(1);
}
